.dropdown {
  display: none;
}

.dropdown.show-dropdown {
  display: block;
}

.select-container {
  display: inline-block;
}

.select-container label {
  display: block;
}

.input-container {
  display: inline-block;
  border: 1px solid black;
  border-radius: 3px;
  display: flex;
  padding: 3px;
  box-shadow: inset 0px 0px 0px 0px black;
}

.input-container:focus-within {
  border: 1px solid rgb(43, 87, 231);
  box-shadow: inset 0px 0px 0px 1px rgb(43, 87, 231);
}

.input-flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

button.drop-btn {
  background-color: inherit;
  border: 0px solid transparent;
  display: flex;
  outline: 0px;
  transition: 0.25s transform ease-in-out;
  transform: rotate(0deg);
}

button.drop-btn.rotate {
  transform: rotate(180deg);
}

input.search-input {
  line-height: 27px;
  font-size: 16px;
  display: flex;
  padding: 0px 0px 0px 7px;
  border: 0px solid transparent;
  outline: 0px;
}

ul.dropdown.show-dropdown {
  display: block;
  border: 1px solid;
  margin: 0;
  border-radius: 3px;
  margin-top: 2px;
  max-height: 100px;
  overflow: auto;
  padding: 3px;
}

li.dropdownItem {
  list-style: none;
  padding: 3px 8px;
}

li.dropdownItem:focus,
li.dropdownItem:hover {
  background-color: rgb(43, 87, 231);
  color: whitesmoke;
  box-shadow: inset 0px 0px 0px 1px rgb(43, 87, 231);
}

.dropdownItem {
  display: flex;
  align-items: center;
}

.dropdownItem svg
{
  width: 20px;
  padding-right: 5px;
}

li.dropdownItem:focus svg,
li.dropdownItem:hover svg {
  stroke: whitesmoke;
}

.multiValue {
  background-color: rgb(230, 230, 230);
  display: flex;
  min-width: 0px;
  box-sizing: border-box;
  border-radius: 2px;
  margin: 2px;
}

.multiValue--inner {
  color: rgb(51, 51, 51);
  font-size: 85%;
  text-overflow: ellipsis;
  white-space: nowrap;
  box-sizing: border-box;
  border-radius: 2px;
  overflow: hidden;
  padding: 3px 3px 3px 6px;
}

.multiValue--close {
  -webkit-box-align: center;
    align-items: center;
    display: flex;
    padding-left: 4px;
    padding-right: 4px;
    box-sizing: border-box;
    border-radius: 2px;
    border: 0px;
    margin-left: 2px;
}
