.dropdown {
  display: none;
}

.dropdown.show-dropdown {
  display: block;
}

.select-container {
  display: inline-block;
}

.select-container label {
  display: block;
}

.input-container {
  display: inline-block;
  border: 1px solid black;
  border-radius: 3px;
  display: flex;
  padding: 3px;
  box-shadow: inset 0px 0px 0px 0px black;
}

.input-container:focus-within {
  border: 1px solid rgb(43, 87, 231);
  box-shadow: inset 0px 0px 0px 1px rgb(43, 87, 231);
}

button.drop-btn {
  background-color: inherit;
  border: 0px solid transparent;
  display: flex;
  outline: 0px;
}

input.search-input {
  line-height: 27px;
  font-size: 16px;
  display: flex;
  padding: 0px 0px 0px 7px;
  border: 0px solid transparent;
  outline: 0px;
}

ul.dropdown.show-dropdown {
  display: block;
  border: 1px solid;
  margin: 0;
  border-radius: 3px;
  margin-top: 2px;
  max-height: 100px;
  overflow: auto;
  padding: 3px;
}

li.dropdownItem {
  list-style: none;
  padding: 2px 5px;
}

li.dropdownItem:focus,
li.dropdownItem:hover {
  background-color: rgb(43, 87, 231);
  color: whitesmoke;
  box-shadow: inset 0px 0px 0px 1px rgb(43, 87, 231);
}

.dropdownItem {
  display: flex;
  align-items: center;
}

.dropdownItem svg
{
  width: 20px;
  padding-right: 5px;
}

li.dropdownItem:focus svg,
li.dropdownItem:hover svg {
  stroke: whitesmoke;
}
